<body class="exercise-database edb">
  {% extends "trackit/base.html" %}

  {% block body_block %}
  <div class="jumbotron">
    <div class="row">
      <div class="col edb-title center">
        EXERCISE DATABASE
      </div>
    </div>
    {% for exercise in exercises %}
    <div class="row">
      <div class="col exercise-db-list">
        <a class='exercise-db-list' href="{% url 'exercise_database:details' pk=exercise.pk %}">
          {{exercise}}
        </a>
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col">
        <a class='exercise-db-add' href="{% url 'exercise_database:create' %}">
          Add an exercise
        </a>
      </div>
    </div>
  </div>

  {% endblock %}
</body>
